.fc .fc-daygrid-day-number { 
    color: rgb(80, 137, 184); 
    text-decoration: none;
    
}

.fc .fc-col-header-cell-cushion {  
    color: rgb(72, 148, 148);  
    text-decoration: none;
    
}
.fc-direction-ltr .fc-daygrid-more-link {
    float: left;
    text-decoration: none;
    color: rgb(72, 148, 148); 
}