.risk-form-grid {
  display: grid;
  grid-template-columns: auto auto; /* Dos columnas */
  gap: 2px; /* Espaciado entre celdas */
  /* Agrega más estilos según sea necesario */
}

.risk-form-grid label {
  /* Estilos para las etiquetas (labels) */
  font-weight: bold;
}

.risk-form-grid input,
.risk-form-grid select {
  /* Estilos para los input, botones y selects */
  width: 100%; /* O el ancho que desees */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.risk-form-grid button {
  /* Estilos específicos para el botón */
  background-color: #2b89e0; /* Color de fondo */
  color: white; /* Color del texto */
  cursor: pointer;
  /* Otros estilos según sea necesario */
  
  /* Nuevos estilos para el botón "Enviar" */
  width: 150px; /* Ancho del botón */
  margin-top: 10px; /* Margen superior para separar del elemento anterior */
  align-self: flex-end; /* Alineación en la parte inferior del contenedor */
}



/* Estilos para el botón */
.Enviar {
  /* Estilos generales del botón */
  padding: 10px 20px;
  background-color: #2b89e0; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Efecto de transición al pasar el mouse */

  /* Estilos adicionales al pasar el mouse */
}

.Enviar:hover {
  background-color: #2b89e0; /* Cambiar color de fondo al pasar el mouse */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup button {
  color: blue;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 20px;
}
.risk-form-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.risk-form-table {
  border-collapse: collapse;
  width: 100%;
}

.risk-form-table th, .risk-form-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.risk-form-table th {
  background-color: #f2f2f2;
}